<div id="footer">
  <div class="container">
    <img id="cake-logo" src="../../assets/Bake-My-Cake-Logo.png" alt="" />
    <div>
      <h3>SERVICES</h3>
      <ul>
        <li><a routerLink="/">Cakes</a></li>
        <li><a routerLink="/">Cupcake</a></li>
        <li><a routerLink="/">Cookies</a></li>
        <li><a routerLink="/">Brownies</a></li>
        <li><a routerLink="/">Bonbon</a></li>
      </ul>
    </div>
    <div>
      <h3>CONTACT</h3>
      <ul>
        <li><mat-icon>call</mat-icon>&nbsp;&nbsp; +91 9326082028</li>
        <li><mat-icon>mail</mat-icon>&nbsp;&nbsp; bakemycake@gmail.com</li>
        <li>
          <mat-icon>location_on</mat-icon>&nbsp;&nbsp; Mumbai, Ghatkopar, Street
          17
        </li>
      </ul>
    </div>
    <div id="social-icons">
      <h3>KEEP IN TOUCH WITH US</h3>
      <ul id="social-icons-list">
        <li>
          <a target="_blank" href="https://www.facebook.com/"
            ><img class="icon-img" src="../../assets/facebook.png" alt=""
          /></a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/"
            ><img class="icon-img" src="../../assets/instagram.png" alt=""
          /></a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/"
            ><img class="icon-img" src="../../assets/twitter.png" alt=""
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div id="copyright">
    <p>Copyright &copy; Bake My Cake. All rights reserved</p>
  </div>
</div>
